.cart-icon {
	width: 45px;
	height: 45px;
	background: none;
	border: none;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	&:hover {
		opacity: .7;
	}

	.shopping-icon {
		width: 24px;
		height: 24px;
	}

	.item-count {
		position: absolute;
		bottom: 14px;
		font-size: 10px;
		font-weight: bold;
	}
}