* {
	box-sizing: border-box;
}

body {
	font-family: Roboto;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

img {
	width: 100%;
	height: auto;
}

.container {
	width: 90%;
	margin: 0 auto;
}